@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}
@media screen and (max-width: 1132px) {
  .title-2 {
    font-size: 28px;
  }
}

.link-bold {
  color: #D4C17F;
  font-weight: 700;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./img/header/header-bg.png");
}
@media screen and (max-width: 1132px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header.min {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%);
}
@media screen and (max-width: 1132px) {
  .header.min {
    min-height: unset;
    row-gap: 50px;
    height: 1200px;
  }
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-row--mobile {
  position: fixed;
  z-index: 9;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

@media screen and (max-width: 1132px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 1132px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}
@media screen and (max-width: 1132px) {
  .header__title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1132px) {
  .header__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav.hidden {
  font-size: 20px;
  letter-spacing: 0.08em;
}

.nav__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 21px;
  height: 21px;
  transform: translate(0%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}
.info--map::before {
  background-image: url("./../img/header/map.svg");
}
.info--tel::before {
  background-image: url("./../img/header/phone.svg");
}
@media screen and (max-width: 1132px) {
  .info {
    font-size: 14px;
  }
  .info--map, .info--tel {
    padding-left: 26px;
  }
}

.benefits {
  overflow: hidden;
  position: relative;
  padding: 120px 0;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.benefits__row {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media screen and (max-width: 1132px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}
@media screen and (max-width: 1132px) {
  .benefits__item-img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 1132px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

.subscriptions {
  position: relative;
}
.subscriptions::before {
  content: "III";
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.subscriptions__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 1132px) {
  .subscriptions__title {
    margin-bottom: 44px;
  }
}

.subscriptions__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1132px) {
  .subscriptions__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
  bottom: 40px;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  transition: all 0.2s ease-in;
  border-radius: 5px;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 50px;
  font-size: 24px;
}
@media screen and (max-width: 1132px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.card__title2 {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  color: rgb(248, 237, 33);
}
@media screen and (max-width: 1132px) {
  .card__title2 {
    font-size: 16px;
    left: 30px;
    bottom: 5px;
  }
}

.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("./../img/cta/cta-bg.jpg"), #c4c4c4;
}
@media screen and (max-width: 1132px) {
  .cta {
    padding: 60px 0;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1132px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 1132px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
@media screen and (max-width: 1132px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.23;
}
@media screen and (max-width: 1132px) {
  .form__privacy--bottom {
    grid-row: 4/5;
  }
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: #ddc676;
}

.video {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 1132px) {
  .video__icon {
    width: 80px;
    height: 80px;
  }
}

.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.section-map {
  position: relative;
  padding: 180px 0;
}
.section-map::before {
  content: "V";
  position: absolute;
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  line-height: 1.15;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  top: 180px;
  line-height: 1;
}
@media screen and (max-width: 1132px) {
  .section-map {
    padding: 90px 0;
  }
}

.section-map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 1132px) {
  .section-map__title {
    margin-bottom: 44px;
  }
}

.map {
  width: 100%;
  height: 358px;
  background: #626262;
}

[class*=copyrights-pane] {
  /* display: none !important; */
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

/* Создать свою карту */
[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  filter: grayscale(1) sepia(10%);
}

/* Baloon */
[class*=balloon__layout], [class*=balloon__content] {
  background-color: #242b33 !important;
  color: #fff !important;
}

[class*=balloon__tail]::after {
  background-color: #242b33 !important;
}

[class*=balloon_layout_panel] {
  background-color: #242b33 !important;
}

[class*=balloon__layout], [class*=balloon__content] a {
  color: #D4C17F !important;
}

[class*=balloon__close-button] {
  background: url("./../img/map/cross.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 1132px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 1132px) {
  .feedback__title {
    margin-bottom: 19px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 1132px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2D343C;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 1132px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 25px;
  }
}

.footer__grid {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1132px) {
  .footer__grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

.footer__logo {
  margin-top: -12px;
  width: 120px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}

.new-life {
  padding-top: 100px;
  padding-bottom: 51px;
}
@media screen and (max-width: 1132px) {
  .new-life {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.new-life-header {
  padding-bottom: 52px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1132px) {
  .new-life-header {
    flex-direction: column;
    padding-bottom: 52px;
  }
}

.new-life-header--head {
  max-width: 584px;
  margin-right: 30px;
}

.new-life-header--head--title {
  margin-bottom: -3px;
  color: #424242;
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
}

.new-life-header--head--subtitle {
  font-size: 50px;
  line-height: 157%;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}
@media screen and (max-width: 1132px) {
  .new-life-header--head--subtitle {
    font-size: 38px;
    line-height: 130%;
  }
}

.new-life-header--content {
  font-size: 20px;
  padding-top: 87px;
  max-width: 671px;
  line-height: 157%;
  font-weight: 500;
}
@media screen and (max-width: 1132px) {
  .new-life-header--content {
    padding-top: 20px;
  }
}

.new-life-steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  -moz-column-gap: 95px;
       column-gap: 95px;
}

.step {
  width: 290px;
}

.step:nth-child(2) {
  padding-top: 287px;
}
@media screen and (max-width: 1132px) {
  .step:nth-child(2) {
    padding-top: 30px;
  }
}

.step:nth-child(3) {
  padding-top: 54px;
}
@media screen and (max-width: 1132px) {
  .step:nth-child(3) {
    padding-top: 0px;
  }
}

.step-heading {
  position: relative;
  padding-top: 115px;
  padding-left: 110px;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
}

.step-heading::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-number);
  font-weight: 400;
  font-size: 125px;
  line-height: 150%;
  color: rgba(237, 198, 58, 0.2549019608);
}

.step-text {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  color: #cdc6c6;
}

.step-img-wrapper {
  position: relative;
  padding-bottom: 126%;
}

.step-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.life-style {
  padding: 229px 0 176px;
  background-color: rgba(110, 109, 109, 0.053);
  color: #fff;
}
@media screen and (max-width: 1132px) {
  .life-style {
    padding: 60px 0 60px;
  }
}

.life-style-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1132px) {
  .life-style-row {
    flex-direction: column-reverse;
  }
}

.life-style-content {
  max-width: 580px;
  margin-right: 30px;
}

.life-style-heading {
  margin-bottom: 33px;
  font-size: 50px;
  line-height: 157%;
  font-weight: 700;
  color: #D4C17F;
}
@media screen and (max-width: 1132px) {
  .life-style-heading {
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 10px;
  }
}

.life-style-text {
  margin-bottom: 57px;
  font-size: 25px;
  font-weight: 500;
  line-height: 157%;
}
@media screen and (max-width: 1132px) {
  .life-style-text {
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 30px;
  }
}

.life-style-video {
  position: relative;
  max-width: 665px;
}
@media screen and (max-width: 1132px) {
  .life-style-video {
    margin-bottom: 40px;
  }
}

.lifestyle__btn {
  height: 50px;
  padding: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
  border-radius: 5px;
}
@media screen and (max-width: 1132px) {
  .lifestyle__btn {
    padding: 10px;
    font-size: 15px;
  }
}

.life-style-btn2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.life-style-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease;
}

.life-style-video-overlay.hidden {
  opacity: 0;
}

.life-style-video-object {
  max-width: 100%;
  height: auto;
  border-radius: 18px;
  vertical-align: top;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  padding-bottom: 20%;
}
.order__block {
  position: relative;
  width: 460px;
  padding: 40px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
@media screen and (max-width: 1132px) {
  .order__block {
    max-width: 290px;
    padding: 10px;
  }
}


.order__block .title {
  font-size: 20px;
  color: white;
}


.sign_up::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
}

.confirm_title{
  text-align: center;
  color: $accent;
  font-size: 35px;
  padding-bottom: 8px;
}

.confirm_title2{
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}


.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  padding: 70px;
  width: 450px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .75);
}

.form-wrapper form {
  margin: 25px 0 65px;
}

form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}

.form-control input {
  height: 100%;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
  background: #444;
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid)~label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: #e50914;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}

form button:hover {
  background: #c40812;
}

.form-wrapper a {
  text-decoration: none;
}

.form-wrapper h2{
  text-align: center;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}

form .form-help {
  display: flex;
  justify-content: space-between;
}

form .remember-me {
  display: flex;
}

form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

form .form-help :where(label, a) {
  font-size: 0.9rem;
}

.form-wrapper p a {
  color: #fff;
}

.form-wrapper small {
  display: block;
  margin-top: 15px;
  color: #b3b3b3;
}

.form-wrapper small a {
  color: #0071eb;
}

@media (max-width: 740px) {
  body::before {
    display: none;
  }

  nav, .form-wrapper {
    padding: 20px;
  }

  nav a img {
    width: 140px;
  }

  .form-wrapper {
    width: 100%;
    top: 43%;
  }

  .form-wrapper form {
    margin: 25px 0 40px;
  }
}

.ui-w-80 {
  width: 80px !important;
  height: auto;
  padding-bottom: 10px;
}

.profile__title {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #D4C17F;
  font-weight: 600;
}

.light-style {
  padding-bottom: 90px !important;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background: rgba(0, 0, 0, 0);
  color: #4E5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background: transparent;
  color: #26B4FF;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}

.card_profile {
  background-clip: padding-box;
  box-shadow: 0 1px 40px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect ~ .select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.tab-pane {
  height: 700px;
}

.profile_select {
  padding-top: 10px;
}

.container_profile {
  margin-top: 45px;
  border: 2px solid #fff;
  height: 750px;
  font-size: 14px;
}
@media screen and (max-width: 1132px) {
  .container_profile {
    border: none;
    margin-bottom: 130px;
    min-height: unset;
    row-gap: 50px;
    height: 800px;
  }
}/*# sourceMappingURL=main.css.map */


.validation-message{
  font-size: 10px!important;
}