@page "/order-cancelled"
@layout ProfileLayout
@inject NavigationManager NavigationManager 
<section class="form-wrapper">
    <h2 class="confirm_title">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#D4C17F" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
        </svg>
    </h2>
    <h3 class="confirm_title2">Payment<br>was success</h3>
    <p style="padding-top: 20px; text-align: center; font-size: 14px;">*After 5 seconds you will be automatically redirected to the main page of the site</p>
</section>
@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        NavigationManager.NavigateTo("/");
        await base.OnInitializedAsync();
    }

}