@page "/Blog"

 <main>
        <section class="new-life none1">
            <div class="container">

                <div class="new-life-header none1">
                    <div class="new-life-header--head">
                        <h2 class="new-life-header--head--title">New life</h2>
                        <h3 class="new-life-header--head--subtitle">Three steps to a healthy body</h3>  
                    </div>
                    <div class="new-life-header--content">
                        <p>A healthy body is maintained by good nutrition, regular exercise, avoiding harmful habits, making informed and responsible decisions about health, and seeking medical assistance when necessary.</p>
                    </div>
                </div>

                <div class="new-life-steps none1">

                    <div class="step">
                        <h3 class="step-heading" data-number="01">Goals</h3>
                        
                        <div class="step-text">
                            <p>
                                Your first step towards a healthy lifestyle is setting two goals. The first goal is your target number.
                                Being realistic is the key. If you want six-pack abs, you'll need to put in the time and effort. 
                                Will you get up every morning before work to workout, or can you only commit one hour a few times a week?                            </p>
                        </div>

                        <div class="step-img-wrapper">
                            <img class="step-img" src="img/steps/01.jpg" alt="step Img">
                        </div>

                        <!-- //step -->
                    </div>

                    <div class="step">
                        <h3 class="step-heading" data-number="02">Exercise Plan</h3>
                        
                        <div class="step-text">
                            <p>
                                Having a designated place to workout will help your focus remain constant.
                                Find one either close to your home or somewhere between home and work.
                                However you choose to exercise, a great way to help you stay focused on your goal is to use a fitness tracker.
                            </p>
                        </div>

                        <div class="step-img-wrapper">
                            <img class="step-img" src="img/steps/02.jpg" alt="step Img">
                        </div>

                        <!-- //step -->
                    </div>

                    <div class="step">
                        <h3 class="step-heading" data-number="03">Eating Right</h3>
                        
                        <div class="step-text">
                            <p>
                                In addition to your new exercise routine, you will also be changing your diet.
                                But don't think of it as dieting, you will simply be forming new and healthier eating habits.
                                The biggest trick is simple: portion control. Eat what you want but in moderation.
                            </p>
                        </div>

                        <div class="step-img-wrapper">
                            <img class="step-img" src="img/steps/03.jpg" alt="step Img">
                        </div>

                        <!-- //step -->
                    </div>

                    
                </div>
            </div>
        </section>

        <section class="life-style none1">
            <div class="container">
                <div class="life-style-row">

                    <div class="life-style-content">
                        <div class="life-style-heading">
                            Let's hear about Healthy LifeStyle
                        </div>
                        <div class="life-style-text">
                            See how to improve your mental and physical health
                        </div>
                        <div class="life-style-btn">
                            <button class="form__btn" id="btn-life-style">Let's get started</button>
                        </div>

                    </div>

                    <div class="life-style-video">
                            <div class="life-style-video-overlay" id="life-style-video-overlay">
                                <button id="video-life-style-btn" class="life-style-btn2">
                                    <img id="video-life-style-btn-icon" src="img/lifeStyle/play.svg" style=" width: 65px; height: 65px;" alt="play">
                                </button>
                            </div>

                            <video class="life-style-video-object" id="video-life-style">
                                <source src="./video/lifestyleVideo.mp4" type="video/mp4" id="video-life-style">
                            </video>
                    </div>

                </div>
            </div>
        </section>
    </main> 

