@page "/confirm-mail"

<section class="form-wrapper">
    <h2 class="confirm_title">Confirm</h2>
    <h3 class="confirm_title2">
        We have sent a confirmation letter to your email. <br>
        Please confirm your registration
    </h3>
</section>

<script src="./js/main.js"></script>

@code {

}